<div class="flex-1 border rounded-lg px-4 py-2 sm:px-6 sm:py-4 leading-relaxed bg-gray-100 mb-4">
  <div class="flex items-center">
    <%= image_tag comment.user.gravatar_url, :class => "h-4 rounded-full mr-2" %>
    <strong><%= comment.user.display_name %></strong>
  </div>
  <span class="text-xs text-gray-400"><%= comment.created_at.strftime("%m-%d-%Y %H:%m") %></span>
  <p class="text-sm"><%= comment.body %></p>
</div>
