<% if current_user %>
  <%= form_with model: [ @artwork, @artwork.comments.build ] do |form| %>
    <h3 class="subtitle is-3">Wat vind jij van dit kunstwerk?</h3>
    <div class="w-full md:w-full mb-2 mt-2">
      <%= form.text_area :body, :rows => 5, :placeholder => "Jouw reactie", :class => "bg-gray-100 rounded border border-gray-400 leading-normal resize-none w-full h-20 py-2 px-3 font-medium placeholder-gray-700 focus:outline-none focus:bg-white" %>
    </div>
    <div class="w-full md:w-full flex items-start md:w-full">
      <div class="flex items-start w-1/2 text-gray-700 px-2 mr-auto"></div>
      <div class="-mr-1">
        <%= form.submit "Commentaar plaatsen", :class => "bg-white text-gray-700 font-medium py-1 px-4 border border-gray-400 rounded-lg tracking-wide mr-1 hover:bg-gray-100" %>
      </div>
    </div>
  <% end %>
<% else %>
  <%= link_to "Wat vind jij hiervan? Login om een commentaar te plaatsen", new_user_session_path, :class => "text-sm leading-none text-black" %>
<% end %>
