@import "toastr";
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-bold;
}
h1 {
  @apply text-2xl mb-8;
}
h2 {
  @apply text-xl mb-4;
}
h3 {
  @apply text-lg mb-4;
}

a:hover {
  @apply underline;
}

/* Forms */
.field {
  @apply my-4;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  @apply w-full p-2 my-2 border;
}
input[type="submit"] {
  @apply cursor-pointer;
}
/* input[type="submit"]:hover {
  @apply bg-gray-400;
} */

.pagination {
  @apply flex justify-center;
  @apply my-2 py-2;
}
.pagination * {
  @apply p-1 text-gray-700 no-underline bg-white rounded-lg;
}
.pagination .current {
  @apply font-bold;
}
.pagination a:hover {
  @apply text-black;
}
.pagination .disabled {
  @apply text-gray-200;
}

/* Toastr */
#toast-container {
  @apply bg-gray-300 absolute right-4 top-4 rounded overflow-hidden text-xl;
}
#toast-container .toast-error {
  @apply bg-red-200 text-red-800 border-red-800 rounded p-8;
}
