<%= form_with model: @artwork do |form| %>
  <div class="field">
    <%= form.label :title, :class => "label" %>
    <div class="control">
      <%= form.text_field :title, :class => "input" %>
    </div>
    <% @artwork.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  
  <div class="field">
    <%= form.label :description, :class => "label" %>
    <div class="control">
      <%= form.text_field :description, :class => "input" %>
    </div>
    <% @artwork.errors.full_messages_for(:description).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :status, :class => "label" %>
    <div class="control">
      <div class="select">
        <%= form.select :status, ['public', 'private', 'archived'], selected: 'public' %>
      </div>
    </div>
  </div>
  
  <div class="field">
    <div class="control">
    <%= form.submit :class => "button is-link" %>
    </div>
  </div>
<% end %>