<section class="pt-8 text-center">
  <div class="container mx-auto px-2">
    <h1 class="text-xl mb-8">Kunst Openbare Ruimte</h1>
    <h2 class="font-light max-w-xl m-auto">
      Het <strong>register</strong> van kunstwerken in de openbare ruimte objecten in Nederland.
    </h2>
  </div>
</section>

<section class="py-16">
  <div class="grid grid-cols-2 auto-rows-fr sm:grid-cols-3 3 md:grid-cols-5 xl:grid-cols-8">

    <% @artworks.each do |artwork| %>
      <div class="group overflow-hidden items-center justify-center flex">
        <a href="/artworks/<%= artwork.id %>" class="relative w-full h-full bg-yellow-100">
          <% if artwork.featured_img.attached? %>
            <div>
              <%= image_tag artwork.featured_img.variant(:gravity=>"center", resize: "400x400^", crop: '400x400+0+0').processed, alt: artwork.title, class:'w-full' %>
            </div>
          <% end %>
          <div class="transition-opacity duration-300 absolute top-0 left-0 right-0 bottom-0 opacity-0 group-hover:opacity-100 text-center bg-white w-full bg-opacity-50 text-center flex flex-col justify-center items-center p-4">
            <h3 class="font-bold text-xl"><%= artwork.title.truncate(40) %></h3>
            <div class="text-sm"><%= artwork.artist %></div>
            <div class="text-xs bg-gray-800 text-white rounded px-2 py-1 mt-2"><%= artwork.comments.count %> comments</div>
          </div>
        </a>
      </div>
    <% end %>
  </div>

  <div class="text-center my-4 pagination">
    <%= will_paginate @artworks %>
  </div>
</section>
