<section class="py-16">
  <div class="container p-4">
    <header>
      <a href="/" class="mb-4 block text-xs tracking-wider uppercase hover:underline">
        &larr; Naar het overzicht
      </a>

      <h1 class="font-bold text-3xl my-4"><%= @artwork.title %></h1>

      <% if @artwork.featured_img.attached? %>
        <div class="mb-2">
          <%= image_tag @artwork.featured_img.variant(:gravity=>"center", resize: "1600x800^", crop: '1600x800+0+0').processed, alt: @artwork.title %>
        </div>
      <% end %>

      <p class="text-sm text-gray-600 mb-4 uppercase">
        <%= @artwork.city %> // <%= @artwork.neighbourhood %>
      </p>
    </header>
    <div class="md:flex">
      <div class="md:w-3/4 md:pr-4 leading-relaxed">
        <div><%= @artwork.description %></div>
        <div class="text-sm my-8 text-gray-400">
          <hr class="mb-4" />
          <% if @artwork.copyright_description %>
            <p>
              &copy; Beschrijving: <%= @artwork.copyright_description %>
            </p>
          <% end %>
          <% if @artwork.copyright_img %>
            <p>
              &copy; Foto: <%= @artwork.copyright_img %>
            </p>
          <% end %>
        </div>

        <div class="comments">
            <h2 class="subtitle is-5"><strong><%= @artwork.comments.count %></strong> Reacties</h2>
            <%= render @artwork.comments %>
            <div class="comment-form">
              <%= render 'comments/form' %>
            </div>
          </div>
      </div>
      <div class="md:w-1/4 md:pl-4 text-sm leading-loose">
        <dl>
          <dt class="font-bold">Kunstenaar</dt>
          <dd><%= @artwork.artist || onbekend %></dd>
          <dt class="font-bold">Materialen</dt>
          <dd>

            <%= @artwork.materials || "Onbekend" %>
          </dd>
          <dt class="font-bold">Volgnummer</dt>
          <dd><%= @artwork.source_id %></dd>
          <dt class="font-bold">Plaatsingsdatum</dt>
          <dd>
            <% if (@artwork.date_placement) %>
              <%= @artwork.date_placement.strftime("%m-%d-%Y")  %>
            <% else %>
              Onbekend
            <% end %>
          </dd>
          <dt class="font-bold">Datum aanschaf</dt>
          <dd>
          <% if @artwork.date_bought %>
            <%= @artwork.date_bought.strftime("%m-%d-%Y") %>
          <% else %>
            Onbekend
          <% end %></dd>
          <dt class="font-bold">Bron</dt>
          <dd>
            <a
              href="https://denhaag.dataplatform.nl/#/home"
              target="_blank"
            >
              Gemeente Den Haag
            </a>
          </dd>
        </dl>
      </div>
    </div>
  </div>
</section>
