
<nav class="flex items-center justify-between flex-wrap bg-teal p-6" data-controller="toggle">
  <div class="flex items-center flex-no-shrink text-black mr-6">
    <a href="/" alt="home"><span class="font-semibold text-xl tracking-tight">Kunst Openbare Ruimte</span></a>
  </div>
  <div class="block lg:hidden">
    <button data-action="click->toggle#toggle" class="flex items-center px-3 py-2 border rounded text-teal-lighter border-teal-light hover:text-white hover:border-white">
      <svg class="h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
    </button>
  </div>

  <div data-toggle-target="element" class="hidden w-full block flex-grow lg:flex lg:items-center lg:w-auto">
    <div class="text-sm lg:flex-grow">
      <a href="/" class="block mt-4 lg:inline-block lg:mt-0 text-teal-lighter mr-4">
        Lijst
      </a>
    </div>
    <div>
      <% if user_signed_in? %>
        <%= link_to current_user.email, edit_user_registration_path, :class => "inline-block text-sm px-4 py-2 leading-none border rounded text-black border-black hover:border-transparent hover:text-white hover:bg-black hover:no-underline mt-4 lg:mt-0" %>
        <%= link_to "Uitloggen", destroy_user_session_path, method: :delete, :class => "inline-block text-sm px-4 py-2 leading-none text-black hover:border-transparent hover:text-white hover:bg-black hover:no-underline mt-4 lg:mt-0"%>
      <% else %>
        <%= link_to "Login", new_user_session_path, :class => "inline-block text-sm px-4 py-2 leading-none border rounded text-black border-black hover:border-transparent hover:text-white hover:bg-black hover:no-underline mt-4 lg:mt-0" %>
      <% end %>
    </div>
  </div>
</nav>
