<div class="container flex-1">
  <div class="max-w-xl m-auto mt-16 p-8 shadow-md bg-gray-100 border">
    <h2 class="mb-4 pb-4 text-3xl">Log in</h2>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email, class: "font-bold" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Your email address" %>
      </div>

      <div class="field">
        <%= f.label :password, class: "font-bold" %>
        <%= f.password_field :password, autocomplete: "current-password", placeholder: "Enter your password" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "Log in" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
