<!DOCTYPE html>
<html lang="nl">
  <head>
    <title>Kunst Openbare Ruimte</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="Deze kaart toont kunstwerken in de openbare ruimte objecten in Den Haag.">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="flex flex-col min-h-screen">
    <%= render "shared/header" %>

    <% unless flash.empty? %>
      <script type="text/javascript">
          <% flash.each do |f| %>
        <% type = f[0].to_s.gsub('alert', 'error').gsub('notice', 'info') %>
        toastr['<%= type %>']('<%= f[1] %>');
      <% end %>
      </script>
    <% end %>


    <main class="flex-1">
      <%= yield %>
    </main>

    <%= render "shared/footer" %>
  </body>
</html>
